@import "~bulma/sass/utilities/initial-variables";
@import "node_modules/@fortawesome/fontawesome-svg-core/styles";

// Config vars
// Kaldi logo brand color: #FD461E
$kaldi-red: #d64000;
$kaldi-red-invert: #fff;

$primary: $kaldi-red;
$primary-invert: $kaldi-red-invert;
$body-color: #333;
$black: #2b2523;

$mainColor: #9c27b0;
$darkerColor: darken($mainColor, 10);

:root {
  --mainColor: #a29bfe;
  --darkerColor: #6c5ce7;
  --borderRadius: 10px;
  --boxShadow: 0 3px 6px -2px rgba(0, 0, 0, 0.4);
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,900, 900i&display=swap");
@font-face {
  font-family: "SeattleSans";
  src: url("../fonts/SeattleSans.eot"); /* IE9 Compat Modes */
  src: url("../fonts/SeattleSans.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/SeattleSans.otf") format("opentype"),
    /* Open Type Font */ url("../fonts/SeattleSans.svg") format("svg"),
    /* Legacy iOS */ url("../fonts/SeattleSans.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/SeattleSans.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/SeattleSans.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

.navbar .navbar-menu {
  box-shadow:none !important {
  }
}

.content .taglist {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;

  li {
    padding: 0 2rem 1rem 0;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
}

// Helper Classes
.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 2em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width-image {
  width: 100vw;
  height: 400px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 12px 16px 10px;
  font-size: 18px;
  font-size: 1rem;
  line-height: 1.25;
  background-color: #fff;
  border-radius: var(--borderRadius);
  text-decoration: none;
  font-weight: 700;
  color: #cc3700;
  text-align: center;
  -webkit-box-shadow: inset 0 0 0 2px #cc3700;
  box-shadow: inset 0 0 0 2px #f40;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.navbar-item .icon {
  color: $primary;
}

// Override for use of svg's from https://simpleicons.org/
.icon svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.navbar-brand .navbar-item.logo {
  padding: 0 1rem;
}
//Menu overrides
$menu-item-color: $white-ter;
$menu-item-hover-color: $black;
$menu-item-hover-background-color: $black;
$menu-item-active-color: $kaldi-red-invert;
$menu-item-active-background-color: $kaldi-red-invert;
$menu-list-border-left: 1px solid $kaldi-red-invert;
$menu-label-color: $white-ter;

.menu-label {
  font-size: 1em !important;
  text-align: left;
}

.menu-list {
  list-style: none !important;
  text-align: left;
}

.social {
  padding: 2em;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.social a {
  background-color: $white-ter;
  margin: 0.5em;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

// blog roll
.blog-list-item.is-featured {
  background-color: #d64000;
}

.blog-list-item header {
  display: flex;
  margin-bottom: 1em;
}

.blog-list-item .featured-thumbnail {
  flex-basis: 35%;
  margin: 0 1.5em 0 0;
}

@import "~bulma";

// responsiveness
@include tablet-only {
  .blog-list-item .featured-thumbnail {
    flex-basis: 50%;
  }
}

@include mobile {
  .blog-list-item header {
    display: block;
  }

  .blog-list-item .featured-thumbnail {
    text-align: center;
    max-width: 70%;
    margin: 0 0 1em;
  }
}

body {
  background-color: white;
  font-weight: 400;
  line-height: 1.65;
  color: #333;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

p {
  margin-bottom: 1.15rem;
}

a {
  color: var(--mainColor);

  &:hover {
    color: var(--darkerColor);
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
  font-weight: 900;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

hr {
  background: #333 !important;
  height: 5px;
  width: 80%;
  margin: 5rem auto;

  position: relative;
  border-radius: 3px;

  &.or {
    overflow: visible;

    &:after {
      content: "OR";
      font-size: 1rem;
      background: #fff;
      color: #333;
      border-radius: 3em;
      height: 3em;
      width: 3em;
      border: 3px solid #333;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
